@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  @apply m-0 p-0 font-roboto font-regular text-base text-lbalck overflow-x-hidden;
}

body {
  @apply pt-70 md:pt-56;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  @apply text-fs40 mb-30 font-semibold lg:text-fs32 lg:mb-20 md:text-fs24 md:mb-16;
}

h2 {
  @apply text-fs32 mb-30 font-semibold lg:text-fs20  lg:mb-20;
}

.container {
  @apply px-30 mx-auto  w-full;
  max-width: 1084px;
}

.containerlg {
  @apply px-30 mx-auto w-full;
  max-width: 1259px;
}

.textsm,
.textsm p {
  @apply text-fs16 md:leading-24;
}

.textsm,
.textsm p {
  @apply text-fs16;
}

.mx388 {
  max-width: 353px;
  @apply mx-auto;
}

.btn {
  @apply text-base text-white bg-blue hover:bg-gray inline-block py-15 px-96 md:pb-16 capitalize rounded-6 transition-all duration-300;
}
.video-btn {
  @apply px-80 lg:px-57;
}
.video-btn img {
  margin-right: 20px !important;
  display: inline-block !important;
}

.main {
  @apply block m-0 p-0;
}

@screen lg {
  .container {
    max-width: 870px;
    @apply px-15;
  }
  .containerlg {
    max-width: 932px;
    @apply px-15;
  }

  .mx388 {
    max-width: 262px;
  }
  .video-btn img {
    width: 17px !important;
  }
  .mxw {
    width: 108px;
  }
}

@screen md {
  header ul {
    @apply absolute top-full left-0 bg-blue px-16 py-0;
  }
  .slick-dots {
    display: none !important;
  }
}
