@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  @apply m-0 p-0  font-roboto font-regular text-base text-lbalck;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  @apply text-fs40 mb-30 font-bold lg:text-fs32 lg:mb-20;
}

h2 {
  @apply text-fs32 mb-30 font-bold lg:text-fs20;
}

.container {
  @apply px-30 mx-auto  w-full;
  max-width: 1084px;
  @screen lg {
    max-width: 836px;
  }
}

.containerlg {
  @apply px-30 mx-auto w-full;
  max-width: 1259px;
  @screen lg {
    max-width: 932px;
  }
}

.textsm,
.textsm p {
  @apply text-fs16;
}
