@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.container {
  @apply px-30 mx-auto  w-full;
  max-width: 1084px;
}

.containerlg {
  @apply px-30 mx-auto w-full;
  max-width: 1259px;
}
.mx338 {
  max-width: 338px;
  @apply mx-auto;
}

.textsm,
.textsm p {
  @apply text-fs16;
}

.btn {
  @apply text-base text-white bg-blue hover:bg-gray inline-block py-14 px-96 capitalize rounded-6 transition-all duration-300;
}
.video-btn {
  @apply px-78;
}


header .sitettl {
  @apply text-fs30 text-white font-light;
}
header .sitettl b {
  @apply font-bold;
}
header .menu li {
  @apply text-fs14 text-white font-regular ml-40;
}
header .menu li a {
  @apply text-white inline-block pt-26 pb-28 relative;
}
header .menu li a:after {
  content: "";
  @apply absolute bottom-0 left-0 w-0 h-6 bg-white rounded-t-3 transition-all duration-300;
}
header .menu li a.active:after,
header .menu li a:hover:after {
  @apply w-full;
}
.main {
  @apply block m-0 p-0;
}

.applist .box {
  width: 152px;
  @apply bg-white py-30 px-15 text-center;
}
.applist .box img {
  @apply mx-auto mb-20;
}
.applist .box span {
  @apply block text-fs16 font-medium;
}

.twocol .leftcol img {
  @apply shadow-shadow-two;
}
