@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.container {
  @apply px-30 mx-auto  w-full;
  max-width: 1084px;
}

.containerlg {
  @apply px-30 mx-auto w-full;
  max-width: 1259px;
}
@screen lg {
  .container {
    max-width: 870px;
    @apply px-15;
  }
  .containerlg {
    max-width: 932px;
    @apply px-15;
  }
}

.applist .box {
  width: 152px;
  @apply bg-white py-30 lg:py-20 md:py-35 px-15 text-center rounded-6 shadow-shadow-two;
}
.applist .box img {
  @apply mx-auto mb-20;
}
.applist .box span {
  @apply block text-fs16 lg:text-fs14 font-medium;
}

@screen lg {
  .mx338 {
    max-width: 253px;
  }
  .mx338 img {
    max-width: 114px;
  }
  .applist .box {
    width: 116px;
  }
  .applist .box img {
    max-height: 32px;
  }
}
@screen md {
  .applist .box {
    width: 188px;
    @apply mx-10 mb-24;
  }
  .applist .box img {
    max-height: 36px;
  }
}
