@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.container {
  @apply px-30 mx-auto  w-full;
  max-width: 1084px;
}

.containerlg {
  @apply px-30 mx-auto w-full;
  max-width: 1259px;
}

.mx338 {
  max-width: 338px;
  @apply mx-auto;
}

.btn {
  @apply text-base text-white bg-blue hover:bg-gray inline-block py-14 px-96 capitalize rounded-6 transition-all duration-300;
}
.video-btn {
  @apply px-78;
}
.video-btn img {
  margin-right: 20px !important;
  display: inline-block !important;
}

.main {
  @apply block m-0 p-0;
}

.applist .box {
  width: 152px;
  @apply bg-white py-30 px-15 text-center;
}
.applist .box img {
  @apply mx-auto mb-20;
}
.applist .box span {
  @apply block text-fs16 font-medium;
}
